<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Login</title>
  </head>
  <body data-better-auth-url="<%= betterAuthUrl %>" data-callback-url="<%= callbackURL %>">
    <div>
      <p>Redirecting to Google...</p>
    </div>
    <script src="/js/googleRedirect.js"></script>
  </body>
</html>
